.contenedor{
    display: flex;
    justify-content: space-around;
}

.item{
    width: 50%;
    background-color: aqua;
}

@media (max-width: 600px) {

    .contenedor {
        flex-direction: column;
            }
}