.contenedor{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}

.item{
    width: 70%;
background-color: yellow;
text-align: center;
}

a:hover{
    background-color: blue;
    color:red;
} 
    .item.hover{
        background-color: blueviolet;
    }
    button {
        transition: background-color 0.3s;
    }
    button:hover {
        background-color: pink;
        animation: mover 1s;
    }
    
    @keyframes mover {
        0% { transform: translateX(0); }
        100% { transform: translateX(100px); }
    }
    @keyframes girar {
        0% { transform: rotate(0deg); }
        50% { transform: rotate(1deg); }
        100% { transform: rotate(10deg); }
    }
    div {
        animation: girar 0.5s infinite linear;
    }  